.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  margin: 3rem 1rem 7rem 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.section h2 {
  margin-bottom: 2rem;
}

.section p {
  margin-bottom: 3rem;
}

.form {
}

.form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border: 1px solid grey;
  border-radius: 9px;
  margin-bottom: 1.5rem;
}

.form input::placeholder {
  color: #aaa;
}

.form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(56, 103, 214, 0.5);
}

.button {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;

  background-color: #3867d6;
  color: #fff;
  width: 100%
}

.button:hover {
  background-color: #2d52ab;
}