.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  padding: 0 3rem 0 3rem;
  gap: 3rem;
}

.flex a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
