* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Averia Serif Libre", cursive, serif;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 2rem;
}

h6 {
  color: #ced4da;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

hr {
  border-top: 1px solid #ced4da;
  margin: 10rem 0;
}

a {
  transition: all 0.3s;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: #3867d6;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  margin: 3rem 1rem 7rem 1rem;
}

.text-secondary {
  color: #868e96;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  html {
    font-size: 43.75%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    font-size: 37.5%;
  }
}
