* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Averia Serif Libre", cursive, serif;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 2rem;
}

h6 {
  color: #ced4da;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

hr {
  border-top: 1px solid #ced4da;
  margin: 10rem 0;
}

a {
  transition: all 0.3s;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: #3867d6;
  cursor: pointer;
}
