.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    font-weight: 600;
}

.links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.flex-end {
    justify-content: flex-end;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}